# interactive notebook
jupyterlab

# langchain family
langchain
langgraph
langchain_experimental
langchainhub
langchain
langchain-nomic
langchain-text-splitters

# vectorstore
qdrant-client
chromadb
docarray

# pdf parsing
pymupdf
PyMuPDF

# markdown parsing
unstructured
Markdown

# html parsing
selenium

# excel parsing
openpyxl

# utils
ollama
llama-index
python-dotenv
tiktoken
tavily-python
gpt4all

# tools
yfinance